---
type Props = {
	method?: 'post' | 'get' | 'dialog'
	classes?: string
	netlify?: boolean
	name?: string
}
const { method = 'post', classes, netlify, name, ...restProps } = Astro.props
---

<form
	method={method}
	novalidate
	class:list={[{ [`${classes}`]: classes }]}
	{...restProps}
>
	<slot />
</form>
