---

import Card from '../../ui/cards/partials/Card.astro'
import CardBody from '../../ui/cards/partials/CardBody.astro'
import Form from '../../ui/forms/Form.astro'
import FormField from '../../ui/forms/partials/FormField.astro'
import InputField from '../../ui/forms/form-elements/InputField.astro'
import TextArea from '../../ui/forms/form-elements/TextArea.astro'
import Button from '../../ui/Button.astro'

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Card classes={classes}>
	<CardBody>
		<form name="contact" action="/success" method="POST" data-netlify="true">
			<h2 class="text-2xl">Contáctanos</h2>
			<FormField>
				<InputField type="text" id="firstName" label="Nombre" />
				<InputField type="text" id="lastName" label="Apellido" />
			</FormField>
			<FormField>
				<InputField type="email" id="email" label="Correo Electrónico" required value="nombre@tucorreo.com" />
			</FormField>
			<FormField>
				<InputField type="tel" id="phone" label="Número de Teléfono" />
			</FormField>
			<FormField><TextArea id="message" label="Tu Mensaje" /></FormField>
			<Button style="primary" type="submit">Enviar</Button>
		</form>
	</CardBody>
</Card>
