---

import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BasicCard.astro'

// 	Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="requests" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-balance">Have a Special <strong>Request?</strong></h2>
			<p class="pb-0 text-lg">
				Choose from one of the options below to get the specific help you need. Whether it's
				customer support, feature requests, or general frequently asked questions, we're here to
				provide you with the best assistance possible.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="6">
			<Card
				title="Feature Requests"
				subtitle="We’d love to hear from you! Share your feature requests and help us improve "
				icon="bolt"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="6" classes="flex flex-col gap-6">
			<Card
				title="Frequently Asked Questions"
				subtitle="If you have specific inquiries about our platform, please refer to our FAQ section for detailed information."
				icon="chat-bubble-left-ellipsis"
				classes="text-center dark:!bg-neutral-800/50"
				link="/faq"
			/>
		</Col>
	</Row>
</Section>
