---

import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BasicCard.astro'

// 	Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="requests" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-balance">Tem um Pedido <strong>Especial?</strong></h2>
			<p class="pb-0 text-lg">
				Escolha uma das opções abaixo para obter a ajuda específica de que você precisa. Seja
				suporte ao cliente, solicitações de recursos ou perguntas frequentes gerais, estamos aqui para
				oferecer a melhor assistência possível.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="6">
			<Card
				title="Solicitações de Recursos"
				subtitle="Tem uma ideia para melhorar ainda mais o AnalyzeMyDream? Adoraríamos ouvir você! Compartilhe suas solicitações de recursos e ajude-nos a melhorar"
				icon="bolt"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="6" classes="flex flex-col gap-6">
			<Card
				title="Perguntas Frequentes"
				subtitle="Se você tiver perguntas específicas sobre nossa plataforma, consulte nossa seção de FAQ para obter informações detalhadas."
				icon="chat-bubble-left-ellipsis"
				classes="text-center dark:!bg-neutral-800/50"
				link="/faq"
			/>
		</Col>
	</Row>
</Section>
