---

import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BasicCard.astro'

// 	Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="requests" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-balance">¿Tienes una <strong>Solicitud Especial?</strong></h2>
			<p class="pb-0 text-lg">
				Elige una de las opciones a continuación para obtener la ayuda específica que necesitas. Ya sea
				soporte al cliente, solicitudes de funciones o preguntas frecuentes generales, estamos aquí para
				proporcionarte la mejor asistencia posible.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="6">
			<Card
				title="Solicitudes de Funciones"
				subtitle="¿Tienes una idea para mejorar AnalyzeMyDream? ¡Nos encantaría saber de ti! Comparte tus solicitudes de funciones y ayúdanos a mejorar."
				icon="bolt"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="6" classes="flex flex-col gap-6">
			<Card
				title="Preguntas Frecuentes"
				subtitle="Si tienes consultas específicas sobre nuestra plataforma, consulta nuestra sección de Preguntas Frecuentes para obtener información detallada."
				icon="chat-bubble-left-ellipsis"
				classes="text-center dark:!bg-neutral-800/50"
				link="/faq"
			/>
		</Col>
	</Row>
</Section>
