---

import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Accordion from '../../ui/Accordion.astro'
import Card from '../../ui/cards/partials/Card.astro'

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="FAQ" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">
				Demystifying <strong>pricing,</strong> common queries resolved
			</h2>
			<p class="text-lg leading-relaxed">
				Curious about our pricing plans? We’re here to help. Below are some of the most frequently
				asked questions about our pricing options.
			</p>
		</Col>
		<Col span="2" />
		<Col span="8">
			<Card classes="divide-y divide-neutral-100 dark:divide-neutral-800">
				<Accordion
					title="What is included in the free trial?"
					text="Our free trial gives you full access to all features of our platform for 7 days. You can explore and use all functionalities to see how they fit your business needs, without any cost."
				/>
				<Accordion
					title="What payment methods do you accept?"
					text="We accept all major credit cards, including Visa, MasterCard, American Express, and PayPal. For enterprise plans, we also offer invoicing options."
				/>
				<Accordion
					title="Can I cancel my subscription at any time?"
					text="Yes! You have the flexibility to cancel your subscription whenever you wish. Simply log in to your PayPal account to manage your subscription settings directly."
				/>
				<Accordion
				title="Are there any hidden fees?"
				text="No, there are no hidden fees on our platform. However, PayPal may apply a small additional charge depending on the country from which the purchase is made. We provide a direct link to PayPal's terms in our Terms of Use, which we encourage you to review for more details."
				/>
				<Accordion
					title="What is your refund policy?"
					text="If you are not satisfied with your service, we offer a refund within 30 days of your subscription start date. Please contact our support team to initiate the process."
				/>

				<Accordion
					title="Can I change my plan later?"
					text="Upgrading or downgrading your plan is not possible, as each subscription is tied to a specific plan. However, you can easily cancel your current plan at any time and request a refund if applicable. If you'd like to select a different plan, you'll need to start a new subscription."
				/>
				
				<Accordion
					title="Do you offer discounts for annual subscriptions?"
					text="Yes, we offer a discount for annual subscriptions. By choosing an annual plan, you can save up to 58% compared to the monthly plan."
				/>
			</Card>
		</Col>
		<Col span="2" />
	</Row>
</Section>

<style>
	.page-header {
		@apply mx-auto max-w-3xl;
	}
	.page-header__text {
		@apply text-lg leading-relaxed;
	}
</style>
