---

import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Accordion from '../../ui/Accordion.astro'
import Card from '../../ui/cards/partials/Card.astro'

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="FAQ" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">
				Desvendando <strong>subscrições,</strong> perguntas comuns respondidas
			</h2>
			<p class="text-lg leading-relaxed">
				Está curioso sobre nossos planos de preços? Estamos aqui para ajudar. Abaixo estão algumas das perguntas mais frequentes sobre nossas opções de preços.
			</p>
		</Col>
		<Col span="2" />
		<Col span="8">
			<Card classes="divide-y divide-neutral-100 dark:divide-neutral-800">
				<Accordion
					title="O que está incluído no teste gratuito?"
					text="Nosso teste gratuito oferece acesso completo a todos os recursos da nossa plataforma por 7 dias. Você pode explorar e usar todas as funcionalidades para ver como elas atendem às necessidades do seu negócio, sem nenhum custo."
				/>
				<Accordion
					title="Quais métodos de pagamento vocês aceitam?"
					text="Aceitamos todos os principais cartões de crédito, incluindo Visa, MasterCard, American Express e PayPal. Para planos empresariais, também oferecemos opções de faturamento."
				/>
				<Accordion
					title="Posso cancelar minha assinatura a qualquer momento?"
					text="Sim! Você tem a flexibilidade de cancelar sua assinatura quando desejar. Basta fazer login na sua conta do PayPal para gerenciar as configurações de assinatura diretamente."
				/>
				<Accordion
				title="Há alguma taxa oculta?"
				text="Não, não há taxas ocultas em nossa plataforma. No entanto, o PayPal pode aplicar uma pequena taxa adicional dependendo do país de onde a compra for feita. Oferecemos um link direto para os termos do PayPal em nossos Termos de Uso, que recomendamos que você revise para mais detalhes."
				/>
				<Accordion
					title="Qual é a política de reembolso?"
					text="Se você não estiver satisfeito com nosso serviço, oferecemos um reembolso dentro de 30 dias a partir da data de início da assinatura. Entre em contato com nossa equipe de suporte para iniciar o processo."
				/>

				<Accordion
					title="Posso alterar meu plano posteriormente?"
					text="Não é possível fazer upgrade ou downgrade do seu plano, pois cada assinatura está vinculada a um plano específico. No entanto, você pode cancelar facilmente seu plano atual a qualquer momento e solicitar um reembolso, se aplicável. Se quiser escolher um plano diferente, será necessário iniciar uma nova assinatura."
				/>
				
				<Accordion
					title="Vocês oferecem descontos para assinaturas anuais?"
					text="Sim, oferecemos um desconto para assinaturas anuais. Ao escolher um plano anual, você pode economizar até 58% em comparação ao plano mensal."
				/>
			</Card>
		</Col>
		<Col span="2" />
	</Row>
</Section>

<style>
	.page-header {
		@apply mx-auto max-w-3xl;
	}
	.page-header__text {
		@apply text-lg leading-relaxed;
	}
</style>
