---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'

const SEO = {
    title: 'AnalyzeMyDream | Documentación y Referencia de la API',
    description:
        'Descubre la documentación completa y la referencia de la API de AnalyzeMyDream. Este recurso ofrece una guía exhaustiva para utilizar nuestra API de manera efectiva e integrarla sin complicaciones en tus aplicaciones.'
};

const header = {
    title: 'Documentación y Referencia de la <strong>API</strong>',
    text: 'Consulta la Referencia de la API de AnalyzeMyDream. Encuentra toda la información necesaria para integrar nuestra API en tus proyectos con facilidad mediante nuestra documentación clara y accesible.'
};
---

<Layout title={SEO.title} description={SEO.description}>
    <Hero title={header.title} text={header.text} />
    <article style="max-width: min(90%, 800px); margin: 0 auto;">
                <p style="text-align:center; margin-top:2rem;"><i>IMPORTANTE:</i></p>
                <p style="text-align:center;"><i>Aunque la documentación y las referencias de la API están en español, la API está implementada en inglés para garantizar uniformidad, especialmente en las rutas de los endpoints. Por lo tanto, al realizar solicitudes a la API, se debe utilizar inglés para las rutas y parámetros. No obstante, las descripciones de los sueños pueden ser ingresadas en español sin inconvenientes.</i></p>
    </article>
    <div class="container">  
        <aside class="sidebar">
            <nav>
                <ul class="menu">
                    <li class="menu-item">
                        <a href="#get-dream-article">
                            <span class="endpoint-get">GET</span>
                            <span class="title">Get Dream Meanings</span>
                            <span class="path"><strong style="color: #4FC9B0;">/dream/&lbrace;api_key&rcub;/&lbrace;lang&rcub;/&lbrace;category&rcub;/&lbrace;slug&rcub;</strong></span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#fast-ai-dream-analyzer">
                            <span class="endpoint-post">POST</span>
                            <span class="title">Fast-AI Dream Analyzer</span>
                            <span class="path"><strong style="color: #579CD6;">/analyzer/&lbrace;api_key&rcub;</strong></span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#ai-advanced-dream-analyzer">
                            <span class="endpoint-post">POST</span>
                            <span class="title">Advanced-AI Dream Analyzer</span>
                            <span class="path"><strong style="color: #579CD6;">/advanced-analyzer/&lbrace;api_key&rcub;</strong></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
    <br>
    <!-- API Key Request Form -->
        <article id="api-key-form" class="api-endpoint">
            <h2 class="endpoint-title" style="border-bottom: 2px solid #7BC7C7; color: #94A3B8;">Solicitar Clave API</h2>
            <p>Para obtener tu clave API, por favor ingresa tu dirección de correo electrónico a continuación. Te enviaremos la clave API a la dirección de correo proporcionada.</p>

    
        
        <form id="apiForm" class="space-y-4">
            <div class="flex justify-center items-center h-full">
                <input
                    id="emailAddress"
                    name="emailAddress"
                    type="email"
                    required
                    class="w-full p-2 border border-gray-300 rounded"
                    style="max-width:50%;"
                    placeholder="Ingresa tu dirección de email.."

                />
            </div>
            
            <div class="flex justify-center space-x-4 mt-4">
                <button
                    id="obtainApiKeyButton"
                    type="submit"
                    class="relative flex items-center justify-center text-white py-2 px-4 rounded-lg hover:bg-blue-600"
                    style="background-color: rgba(123, 199, 199, var(--tw-bg-opacity));"
                >
                    <span id="buttonText" style="font-weight: 700; font-size: 0.875rem;">Solicitar Clave API</span>
                </button>
            </div>
            <p id="responseMessage" class="mt-4" style="text-align: center; font-weight:800;"></p>
        </form>
    </article>
    <br>
    <main class="documentation-content">
        <article id="get-dream-article" class="api-endpoint">
            <h2 class="endpoint-title" style="border-bottom: 2px solid #4EC2AB; color: #94A3B8;">Get Dream Meanings</h2>
            <p><strong>Método:</strong> <span class="highlight-method">GET</span></p>
            <p><strong>Punto de Entrada:</strong> <span class="highlight-description" style="color: #4FC9B0;"> /dream/&lbrace;api_key&rcub;/&lbrace;lang&rcub;/&lbrace;category&rcub;/&lbrace;slug&rcub;</span></p>
            <p><strong>Descripción:</strong> <span class="highlight-description">Obtiene un artículo sobre sueños basado en el idioma, la categoría y el identificador del artículo.</span></p>

            <h3>Path Parameters</h3>
            <ul class="parameters-list">
                <li><strong class="parameters-li-green">api_key (requerido):</strong> Clave API para autenticar (p. ej., <em><strong>AMD_</strong>...</em>)</li>
                <li><strong class="parameters-li-green">lang (requerido):</strong> Idioma del artículo (p. ej., <em><strong>English</strong>, <strong>Portuguese</strong>, <strong>Spanish</strong></em>)</li>
                <li><strong class="parameters-li-green">category (requerido):</strong> Categoría del sueño (p. ej., <em><strong>Animals</strong>, <strong>People</strong></em>)</li>
                <li><strong class="parameters-li-green">slug (requerido):</strong> Identificador único del articulo (p. ej., <em><strong>what-does-it-mean-to-dream-about-work</strong></em>)</li>
            </ul>
            

            <h3>Responses</h3>
            <p><strong>200 OK:</strong></p>
            <div class="response-example" style="border-left: 4px solid #48B09E;">
                <p><strong>Response Body:</strong></p>


                <div class="json-example">
                    <p class="example-json"><strong>Ejemplo JSON:</strong></p>
                    <pre class="json-content">
    &#123;
        "title": "Título del artículo",
        "pubDate": "2024-08-16",
        "description": "Descripción del artículo.",
        "author": "Nombre del autor",
        "image": "https://analyzemydream.com/imagen-del-artículo.png",
        "tags": ["sueños", "significados"],
        "content": "Contenido completo del artículo."
    &#125;
                    </pre>
                </div>
            </div>
    
            <p><strong>422 Validation Error:</strong></p>
            <div class="response-example" style="border-left: 4px solid #48B09E;">
                <p><strong>Response Body:</strong></p>
                <div class="json-example">
                    <p class="example-json"><strong>Ejemplo JSON:</strong></p>
                    <pre class="json-content">
    &#123;
        "detail": [
            &#123;
                "loc": ["path", "lang"],
                "msg": "field required",
                "type": "value_error.missing"
            &#125;
        ]
    &#125;
                    </pre>
                </div>
            </div>
        </article>
        <br>
        <article id="fast-ai-dream-analyzer" class="api-endpoint">
            <h2 class="endpoint-title" style="border-bottom: 2px solid #579CD6; color: #94A3B8;">Fast-AI Dream Analyzer</h2>
            <p><strong>Método:</strong> <span style="font-weight: bold; color: #579CD6;">POST</span></p>
            <p><strong>Punto de Entrada:</strong> <span style="color: #579CD6;">/analyzer/&lbrace;api_key&rcub;</span></p>
            <p><strong>Descripción:</strong> <span>Analiza tus sueños con Fast-AI, que ofrece una interpretación rápida y precisa basada en la descripción que proporciones.</span></p>

            <h3>Request Body</h3>
            <ul class="parameters-list">
                <li><strong class="parameters-li-blue">api_key (requerido):</strong> Clave API para autenticar (p. ej., <em><strong>AMD_</strong>...</em>).</li>
                <li><strong class="parameters-li-blue">dream_description (requerido):</strong> Una descripción detallada del sueño (mínimo 30 palabras).</li>
                <li><strong class="parameters-li-blue">lang (requerido):</strong> Idioma en la que quieres recibir la interpretación (p. ej., <em><strong>en</strong>, <strong>pt</strong>, <strong>es</strong></em>).</li>
            </ul>

    
            <h3>Responses</h3>
            <p><strong>200 OK:</strong></p>
            <div class="response-example" style="border-left: 4px solid #579CD6;">
                <p><strong>Response Body:</strong></p>
                <div class="json-example-post">
                    <p class="example-json"><strong>Ejemplo JSON:</strong></p>
                    <pre class="json-content">
    &#123;
        "analysis": "In-depth analysis and interpretation of the dream."
    &#125;
                    </pre>
                </div>
            </div>
    
            <p><strong>422 Validation Error:</strong></p>
            <div class="response-example" style="border-left: 4px solid #579CD6;">
                <p><strong>Response Body:</strong></p>
                <div class="json-example-post">
                    <p class="example-json"><strong>Ejemplo JSON:</strong></p>
                    <pre class="json-content">
    &#123;
        "detail": [
            &#123;
                "loc": ["body", "dream_description"],
                "msg": "Ensure the description has at least 30 words.",
                "type": "value_error"
            &#125;,
            &#123;
                "loc": ["body", "lang"],
                "msg": "Input should be 'en', 'pt' or 'es'",
                "input": "fr",
                "ctx": &#123; "expected": "'en', 'pt' or 'es'" &#125;
            &#125;
        ]
    &#125;
                    </pre>
                </div>
            </div>
        </article>
        <br>
        <article id="ai-advanced-dream-analyzer" class="api-endpoint">
            <h2 class="endpoint-title" style="border-bottom: 2px solid #579CD6; color: #94A3B8;">AI-Advanced Dream Analyzer</h2>
            <p><strong>Método:</strong> <span style="font-weight: bold;">POST</span></p>
            <p><strong>Punto de Entrada:</strong> <span style="color: #579CD6;">/advanced-analyzer/&lbrace;api_key&rcub;</span></p>
            <p><strong>Descripción:</strong> <span>Analiza tus sueños con Advanced-AI y recibe una interpretación exhaustiva que toma en cuenta múltiples factores, como el tipo de sueño, su relevancia, las emociones involucradas, el contexto y más, para ofrecerte un resultado más preciso.</span></p>

            <h3>Request Body</h3>
            <ul class="parameters-list">
                <li><strong class="parameters-li-blue">api_key (requerido):</strong> Clave API para autenticar (p. ej., <em><strong>AMD_</strong>...</em>)</li>
                <li><strong class="parameters-li-blue">dream_description (requerido):</strong> Una descripción detallada del sueño (mínimo 30 palabras)</li>
                <li><strong class="parameters-li-blue">dream_type (opcional):</strong> Tipo de sueño (p. ej., <em><strong>Experienced</strong>, <strong>Lucid</strong>, <strong>Blurred</strong>, <strong>N/A</strong></em>)</li>
                <li><strong class="parameters-li-blue">dream_importance (opcional):</strong> Importancia del sueño (p. ej., <em><strong>Insignificant</strong>, <strong>Neutral</strong>, <strong>Very Important</strong>, <strong>N/A</strong></em>)</li>
                <li><strong class="parameters-li-blue">main_emotions (opcional):</strong> Emociones principales experimentadas en el sueño (p. ej., <em><strong>Happiness</strong>, <strong>Sadness</strong>, <strong>Fear</strong>, <strong>Anxiety</strong>, <strong>Anger</strong>, <strong>N/A</strong></em>)</li>
                <li><strong class="parameters-li-blue">dream_context (opcional):</strong> Contexto del sueño (p. ej., <em><strong>Familiar</strong>, <strong>Unknown</strong>, <strong>Natural Environment</strong>, <strong>Urban Environment</strong>, <strong>N/A</strong></em>)</li>
                <li><strong class="parameters-li-blue">dream_state (opcional):</strong> Estado del sueño (p. ej., <em><strong>Refreshed</strong>, <strong>Tired</strong>, <strong>Confused</strong>, <strong>Indifferent</strong>, <strong>N/A</strong></em>)</li>
                <li><strong class="parameters-li-blue">dream_frequency (opcional):</strong> Frecuencia de sueños similares (p. ej., <em><strong>Rarely</strong>, <strong>Occasionally</strong>, <strong>Frequently</strong>, <strong>Always</strong>, <strong>N/A</strong></em>)</li>
                <li><strong class="parameters-li-blue">dream_expectations (opcional):</strong> Expectativa del sueño (p. ej., <em><strong>Problem Resolution</strong>, <strong>Personal Insight</strong>, <strong>Warnings</strong>, <strong>Entertainment</strong>, <strong>N/A</strong></em>)</li>
                <li><strong class="parameters-li-blue">lang (requerido):</strong> Idioma en la que quieres recibir la interpretación (p. ej., <em><strong>en</strong>, <strong>pt</strong>, <strong>es</strong></em>).</li>
            </ul>

    
            <h3>Responses</h3>
            <p><strong>200 OK:</strong></p>
            <div class="response-example" style="border-left: 4px solid #579CD6;">
                <p><strong>Response Body:</strong></p>
                <div class="json-example-post">
                    <p class="example-json"><strong>Ejemplo JSON:</strong></p>
                    <pre class="json-content">
    &#123;
        "analysis": "Advanced analysis based on multiple criteria."
    &#125;
                    </pre>
                </div>
            </div>
    
            <p><strong>422 Validation Error:</strong></p>
            <div class="response-example" style="border-left: 4px solid #579CD6;">
                <p><strong>Response Body:</strong></p>
                <div class="json-example-post">
                    <p class="example-json"><strong>Ejemplo JSON:</strong></p>
                    <pre class="json-content">
    &#123;
        "detail": [
            &#123;
                "loc": ["body", "dream_description"],
                "msg": "Ensure the description has at least 30 words.",
                "type": "value_error"
            &#125;,
            &#123;
                "loc": ["body", "dream_type"],
                "msg": "Invalid value. Expected one of: Experienced, Lucid, Blurred, N/A",
                "input": "Fantasy",
                "ctx": &#123; "expected": "Experienced, Lucid, Blurred, N/A" &#125;
            &#125;
        ]
    &#125;
                    </pre>
                </div>
            </div>
        </article>
    </main>
    <br>
    <br>
    </div>
</Layout>
<script type="module">
    document.getElementById('apiForm').addEventListener('submit', async (event) => {
        event.preventDefault();

        const obtainApiKeyButton = document.getElementById('obtainApiKeyButton');
        const buttonText = document.getElementById('buttonText');
        const emailAddress = document.getElementById('emailAddress');
        const responseMessage = document.getElementById('responseMessage');

        if (!obtainApiKeyButton || !buttonText || !emailAddress || !responseMessage) {
            console.error('Uno o más elementos están faltando. Intenta nuevamente.');
            return;
        }

        buttonText.textContent = 'Solicitando...';
        obtainApiKeyButton.disabled = true;

        try {
            const response = await fetch('https://analyzemydream-api-key.vercel.app/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email: emailAddress.value }),
            });

            const result = await response.json();
            if (response.ok) {
                responseMessage.textContent = 'La Clave API fue enviada a su correo electrónico.';
            } else {
                responseMessage.textContent = result.error || 'Ocurrió un error. Por favor, intente nuevamente.';
            }
        } catch (error) {
            responseMessage.textContent = 'Ocurrió un error. Por favor, intente nuevamente.';
        } finally {
            obtainApiKeyButton.disabled = false;
            buttonText.textContent = 'Solicitar Clave API';
        }
    });
</script>

<style>
    h3 {
        font-size: 18.5px;
    }

    p {
        font-size: 15px;
    }

    .container {
        margin: 0 auto;
        max-width: min(90%, 800px);
    }

    .sidebar {
        background-color: #2e2e2e;
        color: #f5f5f5;
        padding: 1rem;
        border-radius: 10px;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu-item {
        display: grid;
        grid-template-columns: 1fr 2fr 3fr; 
        gap: 1rem; 
        border-bottom: 1px solid #4a4a4a;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        align-items: center; 
    }

    .menu-item a {
        display: contents;
        color: #e0e0e0;
        text-decoration: none;
    }

    .menu-item a:hover {
        color: #ffffff;
    }

    .endpoint-get {
        background-color: #4FC9B0;
        color: white;
        font-weight: 900;
        border-radius: 4px;
        padding: 0.2rem 0.5rem;
        font-size: 0.8rem;
        text-align: center;
    }

    .endpoint-post {
        background-color: #579CD6;
        color: white;
        font-weight: 900;
        border-radius: 4px;
        padding: 0.2rem 0.5rem;
        font-size: 0.8rem;
        text-align: center;
    }

    .title {
        font-weight: bold;
        font-size: 1rem;
    }

    .path {
        font-size: 0.9rem;
        color: #e0e0e0;
        font-family: monospace; 
    }

    .documentation-content {
        margin: 0 auto;
    }

    .parameters-li-green {
        color: #51C9B0;
    }

    .parameters-li-blue {
        color: #579CD6;
    }

    .api-endpoint {
        margin-bottom: 3rem;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        max-width: 1000px; 
        margin: 0 auto;
    }

    .endpoint-title {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        color: #94A3B8;
    }

    .parameters-list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;
    }

    .parameters-list li {
        margin-bottom: 0.5rem;
    }

    .highlight-method {
        font-weight: bold;
        color: #51C9B0; 
    }

    .highlight-endpoint {
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        color: #d9534f;
    }

    .highlight-description {
        color: #94A3B8;
    }

    .parameters-list li {
        margin-bottom: 0.5em;
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5;
    }

    .response-example {
        background-color: transparent;
        padding: 10px;
        margin-top: 10px;
        font-family: 'Courier New', Courier, monospace;
    }


    .response-example {
        margin-bottom: 1rem;
    }

    .json-content {
        text-wrap: wrap;
    }

    .example-json {
        margin-top: 10px;
        margin-left: 15px;
    }

    .json-example {
        border: 2px solid #333;
        color: #4FC9B0;
        font-size: 13px;
        background-color: #222222de;
        border-radius: 12px;
    }

    .json-example-post {
        border: 2px solid #333;
        color: #579CD6;
        font-size: 13px;
        background-color: #222222de;
        border-radius: 12px;
    }

    @media only screen and (max-width: 600px) {
        .sidebar {
            max-width: 95%;
            margin: 0 auto;
        }
    }

    @media only screen and (max-width: 600px) {
        .menu-item .endpoint-get,
        .menu-item .endpoint-post,
        .menu-item .title,
        .menu-item .path {
            font-size: 0.8rem;
        }
    }
    @media only screen and (max-width: 500px) {
        .menu-item .path {
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: normal;
            font-size: 0.7rem;
        }
    }

    @media only screen and (max-width: 600px) {
    .menu-item .path {
        font-size: 0.6rem;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: wrap;
        overflow: hidden; 
        text-overflow: ellipsis; 
        max-width: 100%;
    }

    .container {
        margin-top: 3rem;
    }
}
</style>