---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import Hero from '../components/blocks/hero/PageHeader.astro'
import Price from '../components/blocks/pricing/PricingColumns.astro'
import Button from '../components/ui/Button.astro';
import FAQ from '../components/blocks/FAQ/Basic.astro'
import CTA from '../components/blocks/CTA/BasicDark.astro'

// Content
// - SEO
const SEO = {
    title: 'AnalyzeMyDream | Planes de Suscripción',
    description: 'Explora los diferentes planes de subscripción de AnalyzeMyDream: Básico, Estándar y Premium. Cada plan está diseñado para ajustarse a tus necesidades, con información detallada sobre sus características, beneficios y descuentos exclusivos.'
}

const header = {
    title: 'Planes de <strong>Suscripción</strong>',
    text: 'Compara nuestros planes de suscripción: Básico, Estándar y Premium, y elige el que mejor se adapte a tus necesidades. Explora todas las funcionalidades, precios y ofertas disponibles, incluidos los descuentos para suscripciones anuales.'
}
// - Testimonial data
// import testimonialBackground from '../assets/testimonial-bg-02.webp'
const testimonialData = {
	blockquote:
		"",
	figcaption: '',
	cite: ''
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Hero title={header.title} text={header.text} />
	<Price />
	<div class="trial-container">
		Disfruta de una <strong>prueba gratuita de 7 días</strong> del Plan Mensual Básico y explora todas sus funcionalidades sin compromiso. Puedes cancelar tu suscripción en cualquier momento, incluso una vez finalizado el período de prueba.
		<br><br>
	</div>
	<div style="text-align:center;">
		<Button size="lg" link="https://checkout.analyzemydream.com/trial">Comenzar prueba gratuita de 7 días</Button>
	</div>
	
	
	<br><br>
	<br><br>
	<FAQ classes="bg-slate-50 dark:bg-neutral-900/40" />
	<CTA />
</Layout>
<style>
	.trial-container {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		text-align: center;
		margin: 0 auto;
		position: relative;
		font-weight: 600;
	}
</style>