---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import Hero from '../components/blocks/hero/PageHeader.astro'
import Price from '../components/blocks/pricing/PricingColumns.astro'
import Button from '../components/ui/Button.astro';
import FAQ from '../components/blocks/FAQ/Basic.astro'
import CTA from '../components/blocks/CTA/BasicDark.astro'

// Content
// - SEO
const SEO = {
    title: 'AnalyzeMyDream | Planos de Subscrição',
    description: "Explore os diferentes planos de assinatura do AnalyzeMyDream: Básico, Padrão e Premium. Cada plano é projetado para atender às suas necessidades, com informações detalhadas sobre suas características, benefícios e descontos exclusivos."
}

// - Página Header
const header = {
    title: '<strong>Planos</strong> de Subscrição',
    text: 'Compare nossos planos de assinatura: Básico, Padrão e Premium, e escolha o que melhor se adapta às suas necessidades. Explore todas as funcionalidades, preços e ofertas disponíveis, incluindo os descontos para assinaturas anuais.'
}

// - Testimonial data
// import testimonialBackground from '../assets/testimonial-bg-02.webp'
const testimonialData = {
	blockquote:
		"",
	figcaption: '',
	cite: ''
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Hero title={header.title} text={header.text} />
	<Price />
	<div class="trial-container">
		Aproveite uma <strong>teste gratuito de 7 dias</strong> do Plano Mensal Básico e explore todas as suas funcionalidades sem compromisso. Você pode cancelar sua assinatura a qualquer momento, mesmo após o período de teste.
		<br><br>
	</div>
	<div style="text-align:center;">
		<Button size="lg" link="https://checkout.analyzemydream.com/trial">Começar teste gratuito de 7 dias</Button>
	</div>
	
	<br><br>
	<br><br>

	<FAQ classes="bg-slate-50 dark:bg-neutral-900/40" />
	<CTA />
</Layout>
<style>
	.trial-container {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		text-align: center;
		margin: 0 auto;
		position: relative;
		font-weight: 600;
	}
</style>