---
import Layout from '../layouts/Layout.astro'; // Asegúrate de que la ruta sea correcta
import Button from '../components/ui/Button.astro';
---

<Layout>
    <main>
      <section class="success-message">
        <div class="message-container">
          <h3>¡Tu mensaje ha sido enviado <strong>exitosamente</strong>!</h3>
          <p>Gracias por contactarnos. Revisaremos tu mensaje y te responderemos en breve.</p>
          <Button size="lg" link="/">Volver a la página principal</Button><br><br>
        </div>
      </section>
    </main>
  </Layout>
  
  

<style>
    .success-message {
      display: flex;
      justify-content: center;
      align-items: flex-start; 
      min-height: 100vh;
      text-align: center;
    }
    
    .message-container {
      max-width: 600px;
      margin: 20px; 
    }
  </style>
