---
import Layout from '../layouts/Layout.astro'; // Certifique-se de que o caminho esteja correto
import Button from '../components/ui/Button.astro';
---

<Layout>
    <main>
      <section class="success-message">
        <div class="message-container">
          <h3>Seu Mensagem Foi <strong>Enviada</strong> Com Sucesso!</h3>
          <p>Obrigado por entrar em contato. Revisaremos sua mensagem e retornaremos em breve.</p>
          <Button size="lg" link="/">Voltar para a Página Inicial</Button><br><br>
        </div>
      </section>
    </main>
  </Layout>
  
  

<style>
    .success-message {
      display: flex;
      justify-content: center;
      align-items: flex-start; 
      min-height: 100vh;
      text-align: center;
    }
    
    .message-container {
      max-width: 600px;
      margin: 20px; 
    }
  </style>
