---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import SidebarContent from '../components/blocks/basic/StickySidebar.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'

// Content
// - SEO
const SEO = {
    title: 'AnalyzeMyDream | Terms of Service and Privacy Policy',
    description:
        "AnalyzeMyDream's terms of service and privacy policy outline the rules and regulations that govern your use of our services, as well as how we handle your personal information. Please read them carefully to understand your rights and responsibilities."
}

// - Page Header
const header = {
    title: '<strong>Terms</strong> of Services and <strong>Privacy</strong> Policy.',
    text: 'Please read them carefully to understand your rights and responsibilities.'
}
---

<Layout title={SEO.title} description={SEO.description}>
    <Hero title={header.title} text={header.text} />
    <SidebarContent>
        <div slot="sidebar">
            <h3>Introduction</h3>
            <p>
                Welcome to AnalyzeMyDream.com! By using our services, you agree to be bound by these Terms of service and Privacy Policy. Please read them carefully.
            </p>
        </div>
        <div class="basic-text">
            <h4>Acceptance of Terms</h4>
            <p>
                By accessing or using AnalyzeMyDream, you agree to comply with and be bound by these Terms of Service and our Privacy Policy. If you do not agree with these terms, you should not use our services.
            </p>

            <h4>Changes to Terms</h4>
            <p>
                We reserve the right to modify these terms at any time. We will notify you of any changes by posting the new terms on our website. Your continued use of the service after such changes constitutes your acceptance of the new terms.
            </p>
            
            <h4>Registration</h4>
            <p>
                To use certain features of AnalyzeMyDream, you may need to create an account. You agree to provide accurate and complete information when creating your account and to keep this information up-to-date.
            </p>

            <h4>Account Security</h4>
            <p>
                You are responsible for maintaining the confidentiality of your account and password. You agree to notify us immediately of any unauthorized use of your account.
            </p>
        </div>
    </SidebarContent>
    <SidebarContent classes="bg-neutral-50 dark:bg-neutral-900">
        <div slot="sidebar">
            <h3>Use of Content</h3>
            <p>
                This section outlines the use of content available on AnalyzeMyDream.
            </p>
        </div>
        <div class="basic-text">
            <h4>Content Overview</h4>
            <p>
                Our platform provides information and analyses on dream interpretations based on academic literature and specialized studies. We offer access to excerpts from relevant books and studies for general exploration of dream interpretations from an academic perspective. This content is provided solely to facilitate access to these resources.
            </p>

            <h4>Not Professional Advice</h4>
            <p>
                The content on our platform is based on specialized literature to provide you with a general overview of dreams. While we strive to provide accurate and useful information, dream meanings may vary. Therefore, we encourage you to use this information as a general guide and not as a definitive guidance for personal experiences.
            </p>
            <p>
                IMPORTANT: The information provided on our platform is based on excerpts and summaries from academic works and should not be considered a substitute for professional advice. While the content aims to offer general perspectives, we are not qualified to provide personalized psychological advice. 
            </p>

            <h4>Disclaimer</h4>
            <p>
                The information available on our platform includes excerpts from academic books and specialized studies on dream interpretations. While we aim to provide valuable insights, please be aware that the accuracy of these interpretations can vary from person to person. Any decisions or actions taken based on this information are your own responsibility. For more personalized advice, we strongly recommend consulting a mental health professional.
            </p>

            <h4>Bibliography and Sources</h4>
            <p>
                All content offered on our platform is supported by the corresponding bibliography. We use excerpts and quotes from books and specialized studies to provide you with accurate information based on recognized sources. We are not the original authors of the content but facilitate access to information from experts in the field.
            </p>
        </div>
    </SidebarContent>
    <SidebarContent>
        <div slot="sidebar">
            <h3>AI-Powered Dream Analyzer Tool</h3>
            <p>
                This section outlines the terms and conditions related to the AI-powered dream analyzer tool provided on AnalyzeMyDream.
            </p>
        </div>
        <div class="basic-text">
            <h4>AI Tool Disclaimer and Age Restriction</h4>
            <p>
                The AI-powered dream analyzer tool available on AnalyzeMyDream.com is designed to provide additional interpretations to users when the specific dream analysis they are seeking does not appear in our <a href="https://analyzemydream.com/blog/" target="_blank">glossary</a>. This feature aims to offer a more comprehensive understanding by supplementing the existing content with AI-generated insights. The AI may produce results that are inaccurate, inconsistent, or deviate from traditional interpretations. Therefore, we do not guarantee the accuracy or reliability of the information provided.
            </p>
            <p>
                The tool utilizes the Gemini-1.5-Flash model, which has its own set of limitations and constraints. The use of this AI tool is at your own risk, and AnalyzeMyDream.com does not assume responsibility for any decisions, actions, or outcomes that result from the use of the AI-generated content. Users should exercise caution when considering the interpretations provided by the AI and should not depend exclusively on them for understanding or addressing personal matters.
            </p>
            <p>
                To use the AnalyzeMyDream platform and its AI-powered dream analyzer tool, users must be at least 18 years old. Individuals under the age of 18 are strictly prohibited from accessing our services. This age restriction is implemented to ensure that users can appropriately process and interpret the AI-generated information in a responsible manner.
            </p>
            <p>
                Additionally, user inputs that do not pertain to dream analysis or that include inappropriate language are not permitted. To ensure service quality, we log all interactions with the AI. However, rest assured that personal data is not collected; only the details of these interactions are kept, exclusively for the purpose of refining and enhancing the AI model in future updates.
            </p>
            
            <p>
                By utilizing the AI-powered dream analyzer tool, you agree to adhere to the terms and conditions set forth by AnalyzeMyDream.com as well as those stipulated by our AI service provider, Gemini. For comprehensive details, please review the following links:
                <ul>
                    <li><a href="https://policies.google.com/terms/generative-ai/use-policy" target="_blank">Gemini AI Use Policy</a></li>
                    <li><a href="https://policies.google.com/terms" target="_blank">Google Terms of Service</a></li>
                </ul>
            </p>
        </div>
    </SidebarContent>
    <SidebarContent>
        <div slot="sidebar">
            <h3>Privacy Policies</h3>
            <p>
                At AnalyzeMyDream.com, your privacy is important to us. This Privacy Policy explains how we use cookies, tracking technologies, and advertising to enhance your experience on our website.
            </p>
        </div>
        <div class="basic-text">
            <h4>Cookies and Tracking Technologies</h4>
            <p>
                We use cookies and other tracking technologies to improve our website and provide a better user experience. Cookies are small data files that are placed on your device to help us remember your preferences and understand how you use our site. This helps us analyze traffic patterns and improve our content and functionality.
            </p>
            <p>
                To facilitate these improvements, we use services such as Google Analytics and Microsoft Clarity. These tools help us gather information about user interactions on our site, allowing us to identify areas for enhancement and ensure our content meets your needs. For more information on how Google Analytics and Microsoft Clarity handle your data, please refer to their privacy policies:
                <ul>
                    <li><a href="https://policies.google.com/privacy" target="_blank">Google Analytics Privacy Policy</a></li>
                    <li><a href="https://privacy.microsoft.com/en-us/privacystatement" target="_blank">Microsoft Clarity Privacy Policy</a></li>
                </ul>
            </p>

            <h4>Use of Google Ads</h4>
            <p>
                AnalyzeMyDream.com provides its services free of charge. To maintain and improve the website without directly charging users, we utilize Google Ads. This enables us to continue offering you free access to our tools and resources. For more information on how Google uses data for ads, please review the <a href="https://policies.google.com/privacy" target="_blank">Google Ads Privacy Policy</a>.
            </p>

            <h4>How We Use Your Information</h4>
            <p>
                The information collected through cookies and tracking technologies is used solely to enhance the quality of our service and user experience. We do not sell or rent your personal information to third parties. The data is used exclusively for improving our website's functionality and quality.
            </p>
            <p>
                <strong>Please note that by using our site, you consent to the use of advertising, tracking technologies, and cookies as described in our Privacy Policy. If you do not agree with the use of these technologies, we kindly ask you to refrain from using our site.</strong>
            </p>
            
        </div>
        
    </SidebarContent>
    <SidebarContent>
        <div slot="sidebar">
            <h3>Contact Information</h3>
            <p>
                If you have any questions about these Terms of Service and Privacy Policies, please contact us at:
            </p>
            <ul>
                <li>Email: <a href="mailto:contact@ivanluna.dev">contact@ivanluna.dev</a></li>
            </ul>
        </div>
        <div class="basic-text">
            <h4>Disclaimer of Warranties</h4>
            <p>
                AnalyzeMyDream is provided "as is" and "as available" without warranties of any kind, either express or implied. We do not warrant that the service will be uninterrupted or error-free.
            </p>

            <h4>Limitation of Liability</h4>
            <p>
                To the maximum extent permitted by law, AnalyzeMyDream shall not be liable for any indirect, incidental, special, or consequential damages arising out of or in connection with your use of the service.
            </p>

            <h4>Governing Law</h4>
            <p>
                These terms are governed by and construed in accordance with the laws of the jurisdiction in which AnalyzeMyDream operates, without regard to its conflict of law principles.
            </p>

            <h4>Prohibited Activities</h4>
            <p>
                You agree not to use AnalyzeMyDream for any unlawful or prohibited activities, including but not limited to:
				
            </p>
            <p>
				<li>Avoiding any applicable laws or regulations</li>
				<li>Uploading or distributing viruses or malicious code</li>
                <li>Interfering with the operation of the service</li>
            </p>

            <h3>Miscellaneous</h3>
            <p>
                <strong>Entire Agreement:</strong> These terms constitute the entire agreement between you and AnalyzeMyDream regarding the use of the service and supersede any prior agreements.
            </p>
            <p>
                <strong>Severability:</strong> If any provision of these terms is found to be invalid or unenforceable, the remaining provisions will remain in full force and effect.
            </p>
            <p>
                <strong>Waiver:</strong> Our failure to enforce any right or provision of these terms will not be considered a waiver of those rights.
            </p>
            <p><em>Last updated: August 9, 2024</em></p>
        </div>
    </SidebarContent>
</Layout>
