---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import SidebarContent from '../components/blocks/basic/StickySidebar.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'

// Content
// - SEO
const SEO = {
    title: 'AnalyzeMyDream | Términos de Servicio y Política de Privacidad',
    description:
        "Los términos de servicio y la política de privacidad de AnalyzeMyDream describen las reglas y regulaciones que rigen el uso de nuestros servicios, así como cómo manejamos tu información personal. Por favor, léelos cuidadosamente para entender tus derechos y responsabilidades."
}

// - Page Header
const header = {
    title: '<strong>Términos</strong> de Servicio y <strong>Política</strong> de Privacidad.',
    text: 'Por favor, léelos cuidadosamente para entender tus derechos y responsabilidades.'
}
---

<Layout title={SEO.title} description={SEO.description}>
    <Hero title={header.title} text={header.text} />
    <SidebarContent>
        <div slot="sidebar">
            <h3>Introducción</h3>
            <p>
                ¡Bienvenido a AnalyzeMyDream.com! Al utilizar nuestros servicios, aceptas cumplir con estos Términos de Servicio y la Política de Privacidad. Por favor, léelos detenidamente.
            </p>
        </div>
        <div class="basic-text">
            <h4>Aceptación de los Términos</h4>
            <p>
                Al acceder o utilizar AnalyzeMyDream.com, aceptas cumplir y estar sujeto a estos Términos de Servicio y nuestra Política de Privacidad. Si no estás de acuerdo con estos términos, no debes utilizar nuestros servicios.
            </p>

            <h4>Cambios en los Términos</h4>
            <p>
                Nos reservamos el derecho de modificar estos términos en cualquier momento. Te notificaremos de cualquier cambio publicando los nuevos términos en nuestro sitio web. El uso continuado del servicio después de dichos cambios constituye tu aceptación de los nuevos términos.
            </p>
            
            <h4>Registro</h4>
            <p>
                Para utilizar ciertas funciones de AnalyzeMyDream, es posible que necesites crear una cuenta. Aceptas proporcionar información precisa y completa al crear tu cuenta y mantener esta información actualizada.
            </p>

            <h4>Seguridad de la Cuenta</h4>
            <p>
                Eres responsable de mantener la confidencialidad de tu cuenta y contraseña. Aceptas notificarnos de inmediato sobre cualquier uso no autorizado de tu cuenta.
            </p>
        </div>
    </SidebarContent>
    <SidebarContent classes="bg-neutral-50 dark:bg-neutral-900">
        <div slot="sidebar">
            <h3>Uso del Contenido</h3>
            <p>
                Esta sección describe el uso del contenido disponible en AnalyzeMyDream.
            </p>
        </div>
        <div class="basic-text">
            <h4>Resumen del Contenido</h4>
            <p>
                Nuestra plataforma proporciona información y análisis sobre interpretaciones de sueños basados en literatura académica y estudios especializados. Ofrecemos acceso a extractos de libros y estudios relevantes para una exploración general de interpretaciones de sueños desde una perspectiva académica. Este contenido se proporciona únicamente para facilitar el acceso a estos recursos.
            </p>

            <h4>No es Asesoramiento Profesional</h4>
            <p>
                El contenido en nuestra plataforma está basado en literatura especializada para proporcionarte una visión general de los sueños. Aunque nos esforzamos por ofrecer información precisa y útil, los significados de los sueños pueden variar. Por lo tanto, te animamos a utilizar esta información como una guía general y no como una orientación definitiva para experiencias personales.
            </p>
            <p>
                IMPORTANTE: La información proporcionada en nuestra plataforma se basa en extractos y resúmenes de trabajos académicos y no debe considerarse un sustituto del asesoramiento profesional. Aunque el contenido tiene como objetivo ofrecer perspectivas generales, no estamos calificados para proporcionar asesoramiento psicológico personalizado.
            </p>

            <h4>Descargo de Responsabilidad</h4>
            <p>
                La información disponible en nuestra plataforma incluye extractos de libros académicos y estudios especializados sobre interpretaciones de sueños. Aunque nuestro objetivo es proporcionar información valiosa, ten en cuenta que la precisión de estas interpretaciones puede variar de persona a persona. Cualquier decisión o acción tomada en base a esta información es de tu responsabilidad. Para obtener un asesoramiento más personalizado, te recomendamos consultar a un profesional de salud mental.
            </p>

            <h4>Bibliografía y Fuentes</h4>
            <p>
                Todo el contenido ofrecido en nuestra plataforma está respaldado por la bibliografía correspondiente. Utilizamos extractos y citas de libros y estudios especializados para proporcionarte información precisa basada en fuentes reconocidas. No somos los autores originales del contenido, sino que facilitamos el acceso a la información de expertos en el campo.
            </p>
        </div>
    </SidebarContent>
    <SidebarContent>
        <div slot="sidebar">
            <h3>Herramienta de Análisis de Sueños Potenciada por IA</h3>
            <p>
                Esta sección describe los términos y condiciones relacionados con la herramienta de análisis de sueños impulsada por IA proporcionada en AnalyzeMyDream.
            </p>
        </div>
        <div class="basic-text">
            <h4>Descargo de Responsabilidad de la Herramienta de IA y Restricción de Edad</h4>
            <p>
                La herramienta de análisis de sueños impulsada por IA disponible en AnalyzeMyDream.com está diseñada para proporcionar interpretaciones adicionales a los usuarios cuando el análisis de sueños específico que buscan no aparece en nuestro <a href="https://es.analyzemydream.com/blog/" target="_blank">glosario</a>. Esta función tiene como objetivo ofrecer una comprensión más completa al complementar el contenido existente con perspectivas generadas por IA. La IA puede producir resultados que sean inexactos, inconsistentes o que se desvíen de las interpretaciones tradicionales. Por lo tanto, no garantizamos la exactitud o fiabilidad de la información proporcionada.
            </p>
            <p>
                La herramienta utiliza el modelo Gemini-1.5-Flash, que tiene sus propias limitaciones y restricciones. El uso de esta herramienta de IA es bajo tu propio riesgo, y AnalyzeMyDream.com no asume responsabilidad por ninguna decisión, acción o resultado que resulte del uso del contenido generado por IA. Los usuarios deben tener precaución al considerar las interpretaciones proporcionadas por la IA y no depender exclusivamente de ellas para entender o abordar asuntos personales.
            </p>
            <p>
                Para utilizar la plataforma AnalyzeMyDream y su herramienta de análisis de sueños impulsada por IA, los usuarios deben tener al menos 18 años. Las personas menores de 18 años están estrictamente prohibidas de acceder a nuestros servicios. Esta restricción de edad se implementa para asegurar que los usuarios puedan procesar e interpretar adecuadamente la información generada por IA de manera responsable.
            </p>
            <p>
                Además, no se permiten entradas de usuario que no estén relacionadas con el análisis de sueños o que incluyan lenguaje inapropiado. Para asegurar la calidad del servicio, registramos todas las interacciones con la IA. Sin embargo, ten en cuenta que no se recopilan datos personales; solo se conservan los detalles de estas interacciones, exclusivamente para el propósito de refinar y mejorar el modelo de IA en futuras actualizaciones.
            </p>
            
            <p>
                Al utilizar la herramienta de análisis de sueños impulsada por IA, aceptas cumplir con los términos y condiciones establecidos por AnalyzeMyDream.com, así como con los estipulados por nuestro proveedor de servicios de IA, Gemini. Para detalles completos, revisa los siguientes enlaces:
                <ul>
                    <li><a href="https://policies.google.com/terms/generative-ai/use-policy" target="_blank">Política de Uso de Gemini AI</a></li>
                    <li><a href="https://policies.google.com/terms" target="_blank">Términos de Servicio de Google</a></li>
                </ul>
            </p>
        </div>
    </SidebarContent>
    <SidebarContent>
        <div slot="sidebar">
            <h3>Políticas de Privacidad</h3>
            <p>
                En AnalyzeMyDream.com, tu privacidad es importante para nosotros. Esta Política de Privacidad explica cómo usamos cookies, tecnologías de seguimiento y publicidad para mejorar tu experiencia en nuestro sitio web.
            </p>
        </div>
        <div class="basic-text">
            <h4>Cookies y Tecnologías de Seguimiento</h4>
            <p>
                Utilizamos cookies y otras tecnologías de seguimiento para mejorar nuestro sitio web y proporcionar una mejor experiencia de usuario. Las cookies son pequeños archivos de datos que se colocan en tu dispositivo para ayudarnos a recordar tus preferencias y entender cómo usas nuestro sitio. Esto nos ayuda a analizar los patrones de tráfico y mejorar nuestro contenido y funcionalidad.
            </p>
            <p>
                Para facilitar estas mejoras, utilizamos servicios como Google Analytics y Microsoft Clarity. Estas herramientas nos ayudan a recopilar información sobre las interacciones de los usuarios en nuestro sitio, permitiéndonos identificar áreas para mejorar y asegurar que nuestro contenido satisfaga tus necesidades. Para más información sobre cómo Google Analytics y Microsoft Clarity manejan tus datos, consulta sus políticas de privacidad:
                <ul>
                    <li><a href="https://policies.google.com/privacy" target="_blank">Política de Privacidad de Google Analytics</a></li>
                    <li><a href="https://clarity.microsoft.com/privacy" target="_blank">Política de Privacidad de Microsoft Clarity</a></li>
                </ul>
            </p>
            <p>
                Además, es posible que utilicemos cookies de terceros para mostrar anuncios relevantes. Estos anuncios están diseñados para ofrecerte productos y servicios que puedan interesarte en función de tu historial de navegación. Puedes gestionar tus preferencias de cookies a través de la configuración de tu navegador.
            </p>

            <h4>Protección de Datos Personales</h4>
            <p>
                Aunque nuestra plataforma no recopila información personal identificable, tomamos medidas para proteger la privacidad y la seguridad de la información generada en nuestras interacciones con la IA. Los datos de usuario se mantienen seguros y no se comparten con terceros sin tu consentimiento.
            </p>

            <h4>Contacto</h4>
            <p>
                Si tienes alguna pregunta sobre nuestros Términos de Servicio o nuestra Política de Privacidad, no dudes en contactarnos. Puedes hacerlo a través de nuestro <a href="/contact">formulario de contacto</a> en nuestro sitio web.
            </p>
        </div>
    </SidebarContent>
    <SidebarContent>
        <div slot="sidebar">
            <h3>Otros Términos</h3>
            <p>
                Esta sección cubre otros términos importantes relacionados con el uso de AnalyzeMyDream.
            </p>
        </div>
        <div class="basic-text">
            <h4>Descargo de Responsabilidad de Garantías</h4>
            <p>
                AnalyzeMyDream.com se proporciona "tal cual" y "según disponibilidad" sin garantías de ningún tipo, ya sean expresas o implícitas. No garantizamos que el servicio sea ininterrumpido o libre de errores.
            </p>
        
            <h4>Limitación de Responsabilidad</h4>
            <p>
                En la máxima medida permitida por la ley, AnalyzeMyDream no será responsable de ningún daño indirecto, incidental, especial o consecuente que surja de o esté relacionado con el uso del servicio.
            </p>
        
            <h4>Ley Aplicable</h4>
            <p>
                Estos términos se rigen e interpretan de acuerdo con las leyes de la jurisdicción en la que opera AnalyzeMyDream, sin tener en cuenta sus principios de conflicto de leyes.
            </p>
        
            <h4>Actividades Prohibidas</h4>
            <p>
                Aceptas no utilizar AnalyzeMyDream para actividades ilegales o prohibidas, incluyendo pero no limitado a:
            </p>
            <ul>
                <li>Evitar cualquier ley o regulación aplicable</li>
                <li>Cargar o distribuir virus o código malicioso</li>
                <li>Interferir con la operación del servicio</li>
            </ul>
        
            <h3>Disposiciones Generales</h3>
            <p>
                <strong>Acuerdo Completo:</strong> Estos términos constituyen el acuerdo completo entre tú y AnalyzeMyDream en relación con el uso del servicio y sustituyen cualquier acuerdo previo.
            </p>
            <p>
                <strong>Separabilidad:</strong> Si alguna disposición de estos términos se considera inválida o inaplicable, las disposiciones restantes permanecerán en pleno vigor y efecto.
            </p>
            <p>
                <strong>Renuncia:</strong> Nuestro incumplimiento en hacer cumplir cualquier derecho o disposición de estos términos no se considerará una renuncia a dichos derechos.
            </p>
            <p><em>Última actualización: 9 de agosto de 2024</em></p>
        </div>
        
    </SidebarContent>
</Layout>
