---
// Componentes
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import SidebarContent from '../components/blocks/basic/StickySidebar.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'

// Conteúdo
// - SEO
const SEO = {
    title: 'AnalyzeMyDream | Termos de Serviço e Acordo do Usuário',
    description:
        "Os Termos de Serviço e o Acordo do Usuário da AnalyzeMyDream descrevem as regras e regulamentos que regem o uso dos nossos serviços, bem como como lidamos com suas informações pessoais. Por favor, leia-os cuidadosamente para entender seus direitos e responsabilidades."
}

// - Cabeçalho da Página
const header = {
    title: '<strong>Termos</strong> de Serviço e <strong>Acordo do Usuário</strong>',
    text: 'Por favor, leia-os cuidadosamente para entender seus direitos e responsabilidades.'
}
---

<Layout title={SEO.title} description={SEO.description}>
    <Hero title={header.title} text={header.text} />
    <SidebarContent>
        <div slot="sidebar">
            <h3>Introdução</h3> 
            <p>
                Bem-vindo ao AnalyzeMyDream.com! Ao utilizar nossos serviços, você aceita os seguintes Termos de Serviço e o Acordo do Usuário. Por favor, leia-os cuidadosamente.
            </p>
        </div>
        <div class="basic-text">
            <h4>Aceitação dos Termos</h4>
            <p>
                <p>
                    Ao acessar ou utilizar o AnalyzeMyDream.com, incluindo seus nomes de domínio, endereços IP, conteúdo ou qualquer interação (como clicar em links), <strong>você reconhece e declara que aceita estes Termos e Acordo do Usuário e confirma que tem pelo menos 18 anos. Seu acesso e uso indicam seu reconhecimento, aceitação e concordância incondicional com todos os termos e condições aqui estabelecidos, sem modificações, e este acordo entra em vigor imediatamente. Para rejeitar, basta se abster de usar o site e fechar todas as suas janelas.</strong> Você não poderá acessar nem utilizar este site se você (ou seu tutor ou representante legal) não puder celebrar um contrato vinculativo ou se este Acordo do Usuário não for aplicável em sua jurisdição. Ao utilizar este site, você confirma que leu, entendeu e aceitou todos os termos. Se você é o proprietário ou operador do equipamento usado para acessar este site, ao permitir tal uso, você consente e aceita estar sujeito aos termos e condições deste Acordo do Usuário. Se você agir em nome de uma organização, declara que está autorizado a agir como agente e aceitar este Acordo do Usuário em nome do seu empregador e organização. Você concorda em usar o site apenas de acordo com esses direitos de uso e todas as leis e regulamentos aplicáveis.
                </p>                
            </p>

            <h4>Alterações nos Termos</h4>
            <p>
                Reservamo-nos o direito de modificar estes termos a qualquer momento. Você será notificado de quaisquer alterações publicando os novos termos em nosso site. Seu uso contínuo do serviço após tais mudanças constitui sua aceitação dos novos termos.
            </p>
        </div>
    </SidebarContent>
    <SidebarContent classes="bg-neutral-50 dark:bg-neutral-900">
        <div slot="sidebar">
            <h3>Uso do Conteúdo</h3>
            <p>
                Esta seção descreve o uso do conteúdo disponível no AnalyzeMyDream.com
            </p>
        </div>
        <div class="basic-text">
            <h4>Resumo do Conteúdo</h4>
            <p>
                Nossa plataforma fornece informações e análises sobre interpretações de sonhos baseadas em literatura acadêmica e estudos especializados. Oferecemos acesso a trechos de livros e estudos relevantes para uma exploração geral das interpretações de sonhos a partir de uma perspectiva acadêmica. Esse conteúdo é fornecido apenas para facilitar o acesso a esses recursos.
            </p>

            <h4>Não é Assessoria Profissional</h4>
            <p>
                O conteúdo em nossa plataforma é baseado em literatura especializada para fornecer uma visão geral dos sonhos. Embora nos esforcemos para oferecer informações precisas e úteis, os significados dos sonhos podem variar. Portanto, incentivamos você a usar essas informações como uma orientação geral e não como uma orientação definitiva para experiências pessoais.
            </p>
            <p>
                As informações fornecidas em nossa plataforma são baseadas em trechos e resumos de trabalhos acadêmicos e não devem ser consideradas como um substituto para a assessoria profissional. Embora o conteúdo busque oferecer perspectivas gerais, não estamos qualificados para fornecer assessoria psicológica personalizada.
            </p>

            <h4>Isenção de Responsabilidade</h4>
            <p>
                As informações disponíveis em nossa plataforma incluem trechos de livros acadêmicos e estudos especializados sobre interpretações de sonhos. Embora busquemos fornecer informações valiosas, tenha em mente que a precisão dessas interpretações pode variar de pessoa para pessoa. Qualquer decisão ou ação tomada com base nessas informações é de sua própria responsabilidade. Para obter uma orientação mais personalizada, recomendamos fortemente consultar um profissional de saúde mental.
            </p>

            <h4>Bibliografia e Fontes</h4>
            <p>
                Todo o conteúdo oferecido em nossa plataforma está respaldado pela bibliografia correspondente. Utilizamos trechos e citações de livros e estudos especializados para fornecer informações precisas baseadas em fontes reconhecidas. Não somos os autores originais do conteúdo, mas facilitamos o acesso a informações de especialistas no campo.
            </p>
        </div>
    </SidebarContent>
    <SidebarContent>
        <div slot="sidebar">
            <h3>Ferramenta de Análise de Sonhos Baseada em IA</h3>
            <p>
                Esta seção descreve os termos e condições relacionados à ferramenta de análise de sonhos baseada em IA fornecida no AnalyzeMyDream.
            </p>
        </div>
        <div class="basic-text">
            <h4>Isenção de Responsabilidade da Ferramenta de IA e Restrição de Idade</h4>
            <p>
                A ferramenta de análise de sonhos baseada em IA disponível no AnalyzeMyDream.com foi projetada para fornecer interpretações adicionais aos usuários quando a análise de sonhos específica que procuram não aparece em nosso <a href="https://br.analyzemydream.com/blog/" target="_blank">glossário</a>. Esta função tem como objetivo oferecer uma compreensão mais completa ao complementar o conteúdo existente com perspectivas geradas por IA. A IA pode produzir resultados que sejam imprecisos, inconsistentes ou que se desviem das interpretações tradicionais. Portanto, não garantimos a precisão ou confiabilidade das informações fornecidas.
            </p>
            <p>
                A ferramenta utiliza o modelo Gemini-1.5-Flash, que possui suas próprias limitações e restrições. O uso desta ferramenta de IA é por sua conta e risco, e AnalyzeMyDream.com não assume nenhuma responsabilidade pelas decisões, ações ou resultados que resultem do uso do conteúdo gerado pela IA. Os usuários devem exercer cautela ao considerar as interpretações fornecidas pela IA e não depender exclusivamente delas para compreender ou abordar questões pessoais.
            </p>
            <p>
                Para utilizar a plataforma AnalyzeMyDream.com e sua ferramenta de análise de sonhos baseada em IA, os usuários devem ter pelo menos 18 anos. Pessoas menores de 18 anos têm proibido acessar nossos serviços. Esta restrição de idade é implementada para garantir que os usuários possam processar e interpretar adequadamente as informações geradas pela IA de maneira responsável.
            </p>
            <p>
                Além disso, não são permitidas interações de usuários que não se refiram à análise de sonhos ou que incluam linguagem inadequada. Para garantir a qualidade do serviço, registramos todas as interações com a IA exclusivamente com o propósito de refinar e melhorar o modelo de IA em futuras atualizações.
            </p>
            
            <p>
                Ao utilizar a ferramenta de análise de sonhos baseada em IA, você concorda em aderir aos termos e condições estabelecidos pelo AnalyzeMyDream.com, bem como aos estipulados pelo nosso provedor de serviços de IA, Gemini. Para obter detalhes completos, por favor, revise os seguintes links:
                <ul>
                    <li><a href="https://policies.google.com/terms/generative-ai/use-policy" target="_blank">Política de Uso da Gemini AI</a></li>
                    <li><a href="https://policies.google.com/terms" target="_blank">Termos de Serviço do Google</a></li>
                </ul>
            </p>
        </div>
    </SidebarContent>

    <SidebarContent>
        <div slot="sidebar">
            <h3>AnalyzeMyDream API</h3>
            <p>
                Esta seção descreve os termos e condições relacionados à AnalyzeMyDream API. Aqui você encontrará informações sobre como acessar e usar nossa API para integrar funcionalidades de análise de sonhos em seus projetos.
            </p>
        </div>
        <div class="basic-text">
            <h4>Isenção de Responsabilidade e Melhores Práticas para o Uso da API</h4>
            <p>
                A AnalyzeMyDream API foi criada para facilitar a integração das funcionalidades de análise de sonhos em suas aplicações. Embora nos empenhemos em oferecer dados precisos e confiáveis, não podemos garantir a integridade ou exatidão das informações fornecidas. As respostas da API são geradas com base nos dados disponíveis e podem variar na interpretação.
            </p>
            <p>
                Espera-se que os usuários da AnalyzeMyDream API sigam as melhores práticas para seu uso, como:
                <ul>
                    <li>Respeitar os limites de taxa e cotas para evitar interrupções no serviço.</li>
                    <li>Proteger as chaves da API e não compartilhá-las publicamente nem com partes não autorizadas.</li>
                    <li>Gerenciar os dados dos usuários de forma responsável e em conformidade com as regulamentações de privacidade aplicáveis.</li>
                    <li>Monitorar e registrar o uso da API para garantir segurança e desempenho.</li>
                </ul>
            </p>
            <p>
                O uso da AnalyzeMyDream API é por sua conta e risco. Não nos responsabilizamos por qualquer uso inadequado da API ou pelas consequências que possam advir desse uso. Isso inclui, mas não se limita a, danos legais, financeiros ou quaisquer outros danos decorrentes do uso inadequado da API ou de seus dados. É responsabilidade dos usuários da API garantir que seu uso esteja em conformidade com todas as leis e regulamentações vigentes.
            </p>            
            <p>
                Ao utilizar a AnalyzeMyDream API, você concorda com os termos e condições estabelecidos por AnalyzeMyDream.com. Para mais informações sobre o uso da nossa API, incluindo limites de taxa, tratamento de erros e formatação de solicitações, consulte nossa <a href="https://br.analyzemydream.com/api" target="_blank">documentação completa da API</a>.
            </p>
            <p>
                Para quaisquer dúvidas ou problemas relacionados à API, entre em contato conosco pelo e-mail <a href="mailto:contact@ivanluna.dev">contact@ivanluna.dev</a>. Estamos à disposição para ajudar e esclarecer qualquer dúvida que você possa ter sobre a integração da API.
            </p>
        </div>
    </SidebarContent>
    
    <SidebarContent>
        <div slot="sidebar">
            <h3>Assinaturas e Faturamento do PayPal</h3>
            <p>
                Esta seção oferece uma visão detalhada de nossas políticas sobre a gestão de assinaturas do PayPal, incluindo aspectos de faturamento, reembolsos e outros termos de pagamento.
            </p>
        </div>
        <div class="basic-text">
            
            <h4>Pagamentos de Assinatura</h4>
            <p>
                Os usuários podem assinar diversos planos através do PayPal, desfrutando de flexibilidade e comodidade. Os pagamentos são processados automaticamente na data de faturamento selecionada, e aceitamos todos os principais cartões de crédito através do PayPal, incluindo Visa, MasterCard e American Express, bem como o saldo do PayPal.
            </p>
            
            <h4>Período de Teste Gratuito</h4>
            <p>
                Oferecemos um <strong>período de teste gratuito de 7 dias</strong> com acesso total a todas as funcionalidades. Se você não cancelar antes que termine, o plano mensal básico será ativado automaticamente. Este teste é exclusivo para o plano básico, então certifique-se de cancelar se não quiser continuar.
            </p>
            
            <h4>Política de Cancelamento</h4>
            <p>
                Você pode cancelar sua assinatura a qualquer momento através da sua conta do PayPal. Para mais detalhes, visite <a href="https://www.paypal.com/billing/subscriptions" target="_blank">a página de gestão de assinaturas do PayPal</a>. Uma vez cancelada, você não será cobrado no próximo ciclo, embora mantenha acesso até o final do período atual.
            </p>
            
            <h4>Renovações de Assinatura</h4>
            <p>
                Sua assinatura será renovada automaticamente ao final de cada ciclo de faturamento. 
            </p>
            
            <h4>Política de Reembolso</h4>
            <p>
                Oferecemos reembolsos dentro de <strong>30 dias</strong> a partir do início da sua assinatura. Para solicitar um reembolso, entre em contato com nosso suporte em <a href="mailto:contact@ivanluna.dev">contact@ivanluna.dev</a>. Os reembolsos se aplicam apenas à taxa inicial e o acesso será interrompido imediatamente após o processamento.
            </p>
            
            <h4>Comissões de Pagamento e Taxas do PayPal</h4>
            <p>
                Não aplicamos taxas ocultas, mas o PayPal pode cobrar taxas adicionais de acordo com seu país e taxas de conversão. Consulte o <a href="https://www.paypal.com/webapps/mpp/ua/useragreement-full" target="_blank">Acordo do Usuário do PayPal</a> para mais informações.
            </p>
            
            <h4>Desconto por Assinatura Anual</h4>
            <p>
                Você economizará até <strong>58%</strong> ao optar por uma assinatura anual em vez da mensal. Selecione esta opção durante o pagamento no PayPal.
            </p>
            
            <h4>Atualizando ou Rebaixando Planos</h4>
            <p>
                Você pode ter múltiplos planos de assinatura, mas não poderá mudar de plano sem cancelar o atual. Após o cancelamento, você poderá assinar um novo plano a qualquer momento.
            </p>
        
            <h4>Limitações de Responsabilidade</h4>
            <p>
                A gestão de assinaturas, faturamento e cancelamentos é realizada exclusivamente através do PayPal. É fundamental que seus dados de conta sejam precisos e estejam atualizados. Para consultas sobre faturamento, visite <a href="https://www.paypal.com/" target="_blank">PayPal</a> ou entre em contato com o serviço de atendimento ao cliente.
            </p>
            
            <h4>Cumprimento de Regulamentações de Pagamento</h4>
            <p>
                Cumprimos as regulamentações da indústria, incluindo PCI DSS, para garantir a segurança nas transações. Podemos solicitar verificação adicional de acordo com sua localização e volume de transações, em conformidade com AML (Anti-Lavagem de Dinheiro).
            </p>
        
            <h4>Resolução de Disputas por Problemas de Pagamento</h4>
            <p>
                Se surgir uma disputa sobre transações, entre em contato conosco dentro de 14 dias após a transação. Trabalharemos para resolver o problema, embora a decisão final possa depender das políticas do PayPal.
            </p>
            
            <h4>Limitações de Responsabilidade em Caso de Fraude</h4>
            <p>
                Não nos responsabilizamos por transações não autorizadas ou fraudulentas na sua conta do PayPal. É sua responsabilidade manter suas credenciais seguras e notificar o PayPal imediatamente em caso de suspeita de fraude.
            </p>
            
            <h4>Rescisão do Serviço por Problemas de Pagamento</h4>
            <p>
                Reservamo-nos o direito de suspender ou rescindir seu acesso à plataforma em caso de pagamentos falhados ou suspeitas de fraude. Notificaremos sobre qualquer ação e forneceremos instruções para resolver o problema.
            </p>
            
            <h4>Alterações nos Termos de Pagamento</h4>
            <p>
                Reservamo-nos o direito de modificar nossos termos de pagamento, assinaturas e tarifas a qualquer momento, comunicando as alterações com pelo menos 30 dias de antecedência.
            </p>
        
            <h4>Impostos</h4>
            <p>
                Os preços em nossa plataforma não incluem impostos locais ou IVA, que serão calculados e adicionados no momento do pagamento de acordo com as regulamentações locais.
            </p>
        
            <h4>Isenção de Responsabilidade por Erros em Transações</h4>
            <p>
                AnalyzeMyDream.com não se responsabiliza por erros em transações ou na gestão de assinaturas, uma vez que tudo é gerenciado através do PayPal. Caso ocorra um erro, recomendamos entrar em contato com o PayPal para obter suporte e revisar os recursos disponíveis que podem ajudá-lo a evitar inconvenientes.
            </p>
        
            <h4>Reembolso e Isenção de Responsabilidade por Uso Indevido de Assinaturas</h4>
            <p>
                Embora ofereçamos clareza nos termos de assinatura, AnalyzeMyDream.com não se responsabiliza pelo uso indevido do processo de assinatura. É sua responsabilidade seguir as diretrizes e entender suas obrigações.
            </p>
        </div>
    </SidebarContent>


    <SidebarContent>
        <div slot="sidebar">
            <h3>Informações de Contato</h3>
            <p>
                Se você tiver alguma dúvida sobre estes Termos de Serviço e Acordo de Usuário, por favor, entre em contato conosco em:
            </p>
            <ul>
                <li>Email: <a href="mailto:contact@ivanluna.dev">contact@ivanluna.dev</a></li>
            </ul>
        </div>
        <div class="basic-text">
            <h4>Isenção de Garantias</h4>
            <p>
                AnalyzeMyDream.com é fornecido "como está" e "conforme disponível", sem garantias de qualquer tipo, expressas ou implícitas. Não garantimos que o serviço esteja livre de interrupções ou erros.
            </p>
    
            <h4>Limitação de Responsabilidade</h4>
            <p>
                Na máxima extensão permitida por lei, AnalyzeMyDream não será responsável por danos indiretos, incidentais, especiais ou consequenciais que surjam de ou em conexão com o uso do serviço.
            </p>
    
            <h4>Legislação Aplicável</h4>
            <p>
                Estes termos são regidos e interpretados de acordo com as leis da jurisdição onde opera a AnalyzeMyDream, sem considerar seus princípios de conflitos de leis.
            </p>
    
            <h4>Atividades Proibidas</h4>
            <p>
                Você concorda em não usar AnalyzeMyDream para atividades ilegais ou proibidas, incluindo, mas não se limitando a:
            </p>
            <p>
                <li>Eludir qualquer lei ou regulamentação aplicável</li>
                <li>Tentar contornar as medidas de segurança do site.</li>
                <li>Usar o site de maneira que possa danificá-lo ou afetar seu desempenho.</li>
                <li>Desmontar ou descompilar o site.</li>
            </p>
    
            <h3>Disposições Gerais</h3>
            <p>
                <strong>Atribuições:</strong> Font Awesome Free 5.2.0 por @fontawesome - https://fontawesome.com, CC BY 4.0 <https://creativecommons.org/licenses/by/4.0>, via Wikimedia Commons.
            </p>
            
            <p>
                <strong>Acordo Completo:</strong> Estes termos constituem o acordo completo entre você e a AnalyzeMyDream em relação ao uso do serviço e substituem qualquer acordo anterior.
            </p>
            <p>
                <strong>Separabilidade:</strong> Se qualquer disposição destes termos for considerada inválida ou inaplicável, as disposições restantes continuarão em pleno vigor e efeito.
            </p>
            <p>
                <strong>Isenção de Responsabilidade:</strong> A nossa falta de aplicação de qualquer direito ou disposição destes termos não será considerada uma renúncia a tais direitos.
            </p>
            <p><em>Última atualização: 22 de setembro de 2024</em></p>

        </div>
    </SidebarContent>
</Layout>
    