---
// Componentes
// - Diseño
import Layout from '../layouts/Layout.astro'
// - UI
import SidebarContent from '../components/blocks/basic/StickySidebar.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'

// Contenido
// - SEO
const SEO = {
    title: 'AnalyzeMyDream | Términos de Servicio y Acuerdo de Usuario',
    description:
        "Los Términos de Servicio y el Acuerdo de Usuario de AnalyzeMyDream describen las reglas y regulaciones que rigen el uso de nuestros servicios, así como cómo manejamos tu información personal. Por favor, léelos cuidadosamente para entender tus derechos y responsabilidades."
}

// - Encabezado de la Página
const header = {
    title: '<strong>Términos</strong> de Servicio y <strong>Acuerdo de Usuario</strong>',
    text: 'Por favor, léelos cuidadosamente para entender tus derechos y responsabilidades.'
}
---

<Layout title={SEO.title} description={SEO.description}>
    <Hero title={header.title} text={header.text} />
    <SidebarContent>
        <div slot="sidebar">
            <h3>Introducción</h3> 
            <p>
                ¡Bienvenido a AnalyzeMyDream.com! Al utilizar nuestros servicios, aceptas los siguientes Términos de Servicio y al Acuerdo de Usuario. Por favor, léelos cuidadosamente.
            </p>
        </div>
        <div class="basic-text">
            <h4>Aceptación de Términos</h4>
            <p>
                <p>
                    Al acceder o utilizar AnalyzeMyDream.com, incluidos sus nombres de dominio, direcciones IP, contenido o cualquier interacción (como hacer clic en enlaces), <strong>reconoces y declaras que aceptas estos Términos y Acuerdo de Usuario y confirmas que tienes al menos 18 años. Tu acceso y uso indican tu reconocimiento, aceptación y acuerdo incondicional con todos los términos y condiciones aquí establecidos sin modificaciones, y este acuerdo entra en vigencia de inmediato. Para rechazar, simplemente abstente de utilizar el sitio web y cierra todas sus ventanas.</strong> No podrás acceder ni utilizar este sitio web si tú (o tu tutor o representante legal) no puedes celebrar un contrato vinculante o si este Acuerdo de Usuario no es ejecutable en tu jurisdicción. Al utilizar este sitio web, confirmas que has leído, entendido y aceptado todos los términos. Si eres el propietario u operador del equipo utilizado para acceder a este sitio web, al permitir dicho uso, consientes y aceptas estar sujeto a los términos y condiciones de este Acuerdo de Usuario. Si actúas en nombre de una organización, declaras que estás autorizado para actuar como agente y aceptar este Acuerdo de Usuario en nombre de tu empleador y organización. Aceptas utilizar el sitio web únicamente de acuerdo con estos derechos de uso y todas las leyes y regulaciones aplicables.
                </p>                
            </p>

            <h4>Cambios en los Términos</h4>
            <p>
                Nos reservamos el derecho de modificar estos términos en cualquier momento. Te notificaremos de cualquier cambio publicando los nuevos términos en nuestro sitio web. Tu uso continuo del servicio después de dichos cambios constituye tu aceptación de los nuevos términos.
            </p>
        </div>
    </SidebarContent>
    <SidebarContent classes="bg-neutral-50 dark:bg-neutral-900">
        <div slot="sidebar">
            <h3>Uso del Contenido</h3>
            <p>
                Esta sección describe el uso del contenido disponible en AnalyzeMyDream.com
            </p>
        </div>
        <div class="basic-text">
            <h4>Resumen del Contenido</h4>
            <p>
                Nuestra plataforma proporciona información y análisis sobre interpretaciones de sueños basadas en literatura académica y estudios especializados. Ofrecemos acceso a extractos de libros y estudios relevantes para una exploración general de las interpretaciones de sueños desde una perspectiva académica. Este contenido se proporciona únicamente para facilitar el acceso a estos recursos.
            </p>

            <h4>No es Asesoramiento Profesional</h4>
            <p>
                El contenido en nuestra plataforma se basa en literatura especializada para proporcionarte una visión general de los sueños. Aunque nos esforzamos por ofrecer información precisa y útil, los significados de los sueños pueden variar. Por lo tanto, te animamos a usar esta información como una guía general y no como una orientación definitiva para experiencias personales.
            </p>
            <p>
                La información proporcionada en nuestra plataforma se basa en extractos y resúmenes de trabajos académicos y no debe considerarse un sustituto del asesoramiento profesional. Aunque el contenido busca ofrecer perspectivas generales, no estamos calificados para proporcionar asesoramiento psicológico personalizado.
            </p>

            <h4>Descargo de Responsabilidad</h4>
            <p>
                La información disponible en nuestra plataforma incluye extractos de libros académicos y estudios especializados sobre interpretaciones de sueños. Aunque buscamos proporcionar información valiosa, ten en cuenta que la precisión de estas interpretaciones puede variar de persona a persona. Cualquier decisión o acción tomada basándose en esta información es tu propia responsabilidad. Para obtener asesoramiento más personalizado, te recomendamos encarecidamente consultar a un profesional de salud mental.
            </p>

            <h4>Bibliografía y Fuentes</h4>
            <p>
                Todo el contenido ofrecido en nuestra plataforma está respaldado por la bibliografía correspondiente. Utilizamos extractos y citas de libros y estudios especializados para proporcionarte información precisa basada en fuentes reconocidas. No somos los autores originales del contenido, pero facilitamos el acceso a información de expertos en el campo.
            </p>
        </div>
    </SidebarContent>
    <SidebarContent>
        <div slot="sidebar">
            <h3>Herramienta de Análisis de Sueños Basada en IA</h3>
            <p>
                Esta sección describe los términos y condiciones relacionados con la herramienta de análisis de sueños basada en IA proporcionada en AnalyzeMyDream.
            </p>
        </div>
        <div class="basic-text">
            <h4>Descargo de Responsabilidad de la Herramienta de IA y Restricción de Edad</h4>
            <p>
                La herramienta de análisis de sueños basada en IA disponible en AnalyzeMyDream.com está diseñada para proporcionar interpretaciones adicionales a los usuarios cuando el análisis de sueños específico que buscan no aparece en nuestro <a href="https://analyzemydream.com/blog/" target="_blank">glosario</a>. Esta función tiene como objetivo ofrecer una comprensión más completa al complementar el contenido existente con perspectivas generadas por IA. La IA puede producir resultados que sean inexactos, inconsistentes o que se desvíen de las interpretaciones tradicionales. Por lo tanto, no garantizamos la precisión o confiabilidad de la información proporcionada.
            </p>
            <p>
                La herramienta utiliza el modelo Gemini-1.5-Flash, que tiene sus propias limitaciones y restricciones. El uso de esta herramienta de IA es bajo tu propio riesgo, y AnalyzeMyDream.com no asume ninguna responsabilidad por las decisiones, acciones o resultados que resulten del uso del contenido generado por IA. Los usuarios deben ejercer precaución al considerar las interpretaciones proporcionadas por la IA y no depender exclusivamente de ellas para comprender o abordar asuntos personales.
            </p>
            <p>
                Para utilizar la plataforma AnalyzeMyDream.com y su herramienta de análisis de sueños basada en IA, los usuarios deben tener al menos 18 años. Las personas menores de 18 años tienen prohibido acceder a nuestros servicios. Esta restricción de edad se implementa para garantizar que los usuarios puedan procesar e interpretar adecuadamente la información generada por IA de manera responsable.
            </p>
            <p>
                Además, no se permiten interacciones de usuarios que no se refieran al análisis de sueños o que incluyan lenguaje inapropiado. Para garantizar la calidad del servicio, registramos todas las interacciones con la IA. Sin embargo, ten en cuenta que no se recopilan datos personales; solo se guardan los detalles de estas interacciones, exclusivamente con el propósito de refinar y mejorar el modelo de IA en futuras actualizaciones.
            </p>
            
            <p>
                Al utilizar la herramienta de análisis de sueños basada en IA, aceptas adherirte a los términos y condiciones establecidos por AnalyzeMyDream.com así como a los estipulados por nuestro proveedor de servicios de IA, Gemini. Para obtener detalles completos, por favor revisa los siguientes enlaces:
                <ul>
                    <li><a href="https://policies.google.com/terms/generative-ai/use-policy" target="_blank">Política de Uso de Gemini AI</a></li>
                    <li><a href="https://policies.google.com/terms" target="_blank">Términos de Servicio de Google</a></li>
                </ul>
            </p>
        </div>
    </SidebarContent>
    <SidebarContent>
        <div slot="sidebar">
            <h3>Información de Contacto</h3>
            <p>
                Si tienes alguna pregunta sobre estos Términos de Servicio y Acuerdo de Usuario, por favor contáctanos en:
            </p>
            <ul>
                <li>Correo electrónico: <a href="mailto:contact@ivanluna.dev">contact@ivanluna.dev</a></li>
            </ul>
        </div>
        <div class="basic-text">
            <h4>Descargo de Responsabilidad de Garantías</h4>
            <p>
                AnalyzeMyDream.com se proporciona "tal cual" y "según disponibilidad" sin garantías de ningún tipo, ya sean expresas o implícitas. No garantizamos que el servicio esté libre de interrupciones o errores.
            </p>
    
            <h4>Limitación de Responsabilidad</h4>
            <p>
                En la máxima medida permitida por la ley, AnalyzeMyDream no será responsable de daños indirectos, incidentales, especiales o consecuentes que surjan de o en conexión con el uso del servicio.
            </p>
    
            <h4>Legislación Aplicable</h4>
            <p>
                Estos términos se rigen por y se interpretan de acuerdo con las leyes de la jurisdicción en la que opera AnalyzeMyDream, sin tener en cuenta sus principios de conflicto de leyes.
            </p>
    
            <h4>Actividades Prohibidas</h4>
            <p>
                Aceptas no utilizar AnalyzeMyDream para actividades ilegales o prohibidas, incluyendo pero no limitado a:
            </p>
            <p>
                <li>Eludir cualquier ley o regulación aplicable</li>
                <li>Intentar eludir las medidas de seguridad del sitio web.</li>
                <li>Usar el sitio web de una manera que pueda dañarlo o afectar su rendimiento.</li>
                <li>Desmontar o descompilar el sitio web.</li>
            </p>
    
            <h3>Miscelánea</h3>
            <p>
                <strong>Atribuciones:</strong> Font Awesome Free 5.2.0 por @fontawesome - https://fontawesome.com, CC BY 4.0 <https://creativecommons.org/licenses/by/4.0>, a través de Wikimedia Commons.
            </p>
            <p>
                <strong>Acuerdo Completo:</strong> Estos términos constituyen el acuerdo completo entre tú y AnalyzeMyDream con respecto al uso del servicio y reemplazan cualquier acuerdo previo.
            </p>
            <p>
                <strong>Separabilidad:</strong> Si alguna disposición de estos términos se considera inválida o inaplicable, las disposiciones restantes seguirán en pleno vigor y efecto.
            </p>
            <p>
                <strong>Descargo de responsabilidad:</strong> Nuestra falta de hacer cumplir cualquier derecho o disposición de estos términos no se considerará una renuncia a esos derechos.
            </p>
            <p><em>Última actualización: 14 de agosto de 2024</em></p>
        </div>
    </SidebarContent>
</Layout> 