---
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

import Button from '../../ui/Button.astro'
import { Image } from 'astro:assets'


import heroImage from '../../../assets/hero-01.png'
---
<Section id="intro" padding="none" classes="bg-neutral-50 dark:bg-neutral-900">
    <Row>
        <Col span="2" />
        <Col span="8" align="center">
            <br><br><h1>Exploring <strong>dream meanings</strong> and enhancing self-understanding.</h1>
            
            <p class="pb-0 text-lg"> Decode the hidden messages of your dreams and awaken your inner wisdom.</p>
            <Button size="lg" link="/login">Try it out</Button><br><br>
        </Col>
        <Col span="2" />
    </Row>
</Section>

<Section id="hero-image" padding="none" classes="bg-neutral-50 dark:bg-neutral-900">
    <Row>
        <Col span="2" />
        <Col span="8" align="center">
            <Image
                src={heroImage}
                alt="AI-powered dream analyzer tool"
                class="max-w-full h-auto"
                format="webp"
            />
        </Col>
        <Col span="2" />
    </Row>
</Section>

<Section id="dream-form" padding="none" classes="bg-neutral-50 dark:bg-neutral-900">
    <Row>
        <Col span="2" />
        <Col span="8" align="center">
            <br><h3 class="text-3xl font-semibold mb-4">Unlock Insights Instantly with our <strong>Fast-AI Dream Analyzer</strong> tool.</h3>
            

            <p class="text-sm text-gray-500 dark:text-gray-300 mb-4">
                Please use this tool responsibly. The results are intended for general guidance only. <strong><a href="/faq" style="color: #7BC7C7; text-decoration: none;">Learn More.</a></strong>
            </p>            
            <form id="dreamForm" class="space-y-4">
                <textarea id="dreamDescription" name="dreamDescription" style="background:transparent; border-radius:10px;" rows="4" cols="50" minlength="30" required class="w-full p-2 border border-gray-300 rounded" placeholder="Enter a detailed description of your dream..."></textarea>
                <label id="comprehensiveAnalysisLabel" for="dreamDescription" class="block text-lg font-medium mb-2 hidden">
                    For a more comprehensive analysis, try the <strong><a href="/advanced-analyzer" style="color: #7BC7C7; text-decoration: none;">Advanced AI-Dream Analyzer</a></strong> tool.
                </label>
                <p id="analysisResult" class="mt-4" style="text-align: justify;"></p>
                
                <div class="flex justify-center space-x-4 mt-4">
                    <button id="analyzeButton" type="submit" class="relative flex items-center justify-center text-white py-2 px-4 rounded-lg hover:bg-blue-600"
                        style="background-color: rgba(123, 199, 199, var(--tw-bg-opacity));">
                        <span id="buttonText" style="font-weight: 700; font-size: 0.875rem;">Analyze My Dream</span>
                    </button>
                </div>
                <br><br>
            </form>
            
        </Col>
        <Col span="2" />
    </Row>
</Section>
<script async custom-element="amp-auto-ads"
        src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>
<script type="module">
    document.getElementById('dreamForm').addEventListener('submit', async (event) => {
        event.preventDefault();

        const analyzeButton = document.getElementById('analyzeButton');
        const buttonText = document.getElementById('buttonText');
        const dreamDescription = document.getElementById('dreamDescription');
        const analysisResult = document.getElementById('analysisResult');
        const comprehensiveAnalysisLabel = document.getElementById('comprehensiveAnalysisLabel');

        if (!analyzeButton || !buttonText || !dreamDescription || !analysisResult || !comprehensiveAnalysisLabel) {
            console.error('One or more elements are missing.');
            return;
        }

        buttonText.textContent = 'Analyzing...';
        analyzeButton.disabled = true;

        try {
            const response = await fetch('https://amd-api-anon-limited.vercel.app/analyzer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 
                    lang: 'en',  
                    dream_description: dreamDescription.value 
                }),
            });

            if (response.ok) {
                const result = await response.json();
                analysisResult.textContent = result.analysis;
                buttonText.textContent = 'Try Again';
            } else if (response.status === 429) {
                analysisResult.textContent = 'You have reached the limit of 5 dream analyses per day. Please try again tomorrow.';
                buttonText.textContent = 'Limit Reached';
                analyzeButton.disabled = true;
            } else if (response.status === 503) {
                analysisResult.textContent = 'Too many dreamers! Please wait a moment and try again.';
                buttonText.textContent = 'Analyze Your Dream';
            } else {
                const errorData = await response.json();
                analysisResult.textContent = errorData.detail || 'An unexpected error occurred. Please try again.';
                buttonText.textContent = 'Analyze Your Dream';
            }
        } catch (error) {
            console.error('Error:', error);
            analysisResult.textContent = 'We\'re having trouble connecting to our dream analysis service. Please check your internet connection and try again.';
            buttonText.textContent = 'Analyze Your Dream';
        } finally {
            analyzeButton.disabled = false;
            comprehensiveAnalysisLabel.classList.remove('hidden'); 
        }
    });

    function handleClearInput() {
        dreamDescription.value = '';
        analysisResult.textContent = '';
        buttonText.textContent = 'Analyze Your Dream';
        comprehensiveAnalysisLabel.classList.add('hidden'); 
        analyzeButton.removeEventListener('click', handleClearInput);
        analyzeButton.addEventListener('click', handleFormSubmit);
    }

    function handleFormSubmit() {
        document.getElementById('dreamForm').dispatchEvent(new Event('submit'));
    }
</script>
